*~
/.dotest
/Makefile.am
aclocal.m4
m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
configure.in
depcomp
install-sh
ltmain.sh
missing
Makefile.in
src/Makefile.am
po/Makefile.in.in
po/LINGUAS
mkinstalldirs
intltool-*.in
/*.patch
*.o
*.lo
*.la
.deps
.libs
.*.swp
Makefile
*.gmo
stamp-h1
po/stamp-it
CONFIGURE.sh
config.status
config.log
src/syncevolution
src/synccompare
libtool
config.h
src/client-test
src/build-synthesis
po/POTFILES
src/gdbus/example
src/org.syncevolution.service
src/dbus/syncevo-dbus.pc
src/syncevo-dbus-server
src/syncevo-dbus-server-startup.sh
src/syncevo-dbus-server.desktop
src/syncevo-http-server
src/syncevo-phone-config
src/syncevo/CmdlineHelp.c
src/syncevo/SyncEvolutionXML.c
src/syncevo/syncevolution.pc
src/testcases
README
